.chart-container {
    background-color: white;
  }
  
  .chart-label {
    color: white;
  }
  
  .chart-dropdown {
    color: white;
    background-color: #333;
  }
  
  .chart {
    background-color: white;
  }
  